* {
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

:root {
  --primmary-color: #006eb7;
  --bg-color: #333;
  --white: #fff;
  --black: #000;
  --bd-radius: 5px;
  --color-font-1: #eee;
  --color-font-2: #ccc;
  --color-font-3: #888;
  --color-font-4: #111;
}

.content {
  max-width: 1000px;
  margin: 0 auto;
}

/* HEADER */

.header {
  background-color: var(--bg-color);
}

.logo {
  border-radius: 100px;
}

.telaInicio {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu {
  display: flex;
  gap: 30px;
  align-content: center;
  text-transform: uppercase;
  color: var(--white);
  font-weight: 600;
}

.menu li a {
  cursor: pointer;
  padding: 10px;
  color: var(--white);
}

.menu li a:hover {
  background-color: var(--primmary-color);
  color: var(--bg-color);
  border-radius: var(--bd-radius);
}

.menu-mobile {
  display: none;
}

.menu-mobile div {
  width: 30px;
  height: 5px;
  margin: 5px;
  background-color: var(--primmary-color);
  border-radius: 5px;
}

/*  MAIN  - IMC*/

main {
  background-image: url("../images/alimentação.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.principal {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 100px;
  padding: 140px;
}

h1 {
  color: var(--white);
  font-size: 3rem;
}

h1:after {
  content: "";
  width: 10px;
  height: 10px;
  margin: 10px;
  border-radius: var(--bd-radius);
  background-color: var(--primmary-color);
  position: absolute;
}

.title p {
  color: var(--color-font-1);
  font-size: 1.2rem;
}

.IMC {
  max-width: 450px;
  padding: 20px;
  background-color: var(--white);
  justify-self: end;
  border-radius: var(--bd-radius);
}

.IMC h2 {
  text-align: center;
}

.imcAction {
  display: flex;
  flex-direction: column;
}

.area-altura,
.area-peso {
  margin: 20px;
}

.area-button {
  align-self: center;
}

input[type="number"] {
  padding: 5px;
  border: 1px solid var(--black);
  border-radius: var(--bd-radius);
}

#calcular {
  margin: 10px;
  padding: 10px 20px;
  background-color: var(--primmary-color);
  color: #fff;
  border: none;
  border-radius: var(--bd-radius);
  cursor: pointer;
}

.resultado {
  max-width: 30ch;
}

/* SECTION - SAÚDE */

section {
  background-image: url(../images/background-2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 10px;
}

.saude {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-items: center;
}

.text {
  max-width: 55ch;
  margin: auto;
  text-align: center;
}

.text h2 {
  color: var(--black);
  font-size: 1.5rem;
}

.text p {
  color: var(--color-font-4);
  font-size: 1.1rem;
  letter-spacing: 1.3;
  line-height: 1.4;
  margin: 20px;
}

.classificações {
  display: flex;
  justify-content: end;
  padding: 10px;
}

.imc-classificações li {
  border: 1px solid var(--black);
  border-radius: var(--bd-radius);
  background-color: rgba(255, 255, 255, 0, 2);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(5px);
  max-width: 40ch;
  padding: 20px;
  margin: 3px;
  font-weight: 600;
}

/* FOOTER - CONTATO */

footer {
  background-color: var(--bg-color);
}

.final {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-around;
  padding: 50px;
}

.informaçoes-principais li {
  margin: 10px;
  color: var(--white);
}

.socials {
  display: flex;
  margin: 30px 0;
}

.credit a,
.credit {
  color: var(--color-font-4);
}

.links li {
  margin: 20px;
}

.links a {
  color: var(--white);
  padding: 10px;
  text-decoration: underline;
}

.copy {
  text-align: center;
  padding: 10px;
  color: var(--color-font-4);
}

@media (max-width: 1000px) {
  .principal {
    justify-content: space-between;
  }

  .IMC {
    justify-self: end;
  }
}

@media (max-width: 768px) {
  .logo {
    margin: 20px;
  }

  .menu {
    display: none;
  }

  .menu-mobile {
    display: block;
    margin: 20px;
  }

  .principal {
    grid-template-columns: 1fr;
    padding: 20px;
    gap: 20px;
  }

  .title {
    background-color: var(--white);
    opacity: 0.8;
    margin: 25px;
    border-radius: var(--bd-radius);
    text-align: center;
  }

  h1 {
    font-size: 2.3rem;
  }

  .title p {
    font-size: 1.1rem;
    font-weight: bolder;
  }

  h1,
  .title p {
    color: var(--black);
    margin: 20px;
  }

  .IMC {
    justify-self: center;
    margin: 20px;
  }

  section {
    height: 100%;
  }

  .text {
    background-color: var(--white);
    margin: 10px;
    border-radius: var(--bd-radius);
    max-width: 100%;
    text-align: center;
  }

  .text p {
    padding: 20px;
  }

  .text h2 {
    padding: 20px;
  }

  .saude {
    grid-template-columns: 1fr;
  }

  .classificações {
    justify-content: center;
  }

  .imc-classificações li {
    color: var(--color-font-4);
    backdrop-filter: blur(5px);
    background-color: rgba(255, 255, 255, 0.7);
    font-weight: 600;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  }
}
